.App {
  text-align: center;
}

.container-fluid{
  padding: 10px;
  /* position: fixed; */
}
.SearchIcon{
  margin-top: 0px;
  background-color: black;
  height: 40px;
}
/* input[type='text']{
  outline: none;
} */

.form-control:focus {
 
  box-shadow: none;
}

.link a{
  font-weight:'bold';
  color: black;
  text-decoration: none;
}

*{
  margin: 0;
  padding: 0;
}
.header{
  background-color: #f5f5f5;
  box-shadow: 0 0 7px #cfcdcc;
  padding: 9px;
  width: 100%;
}

/* img  */
.header .img{
  width: 5%;
}

.header .img img{
  width: 43px;
  margin-left: 30px;
  margin-top: 10px;
}

/* search city  */
.search-city{
  background-color: white;
  border: 2px solid #142e2e;
  border-radius: 5px;
  padding: 8px;
  margin-left: 17px;
  width: 22%;
}
.header  .fa-search{
  font-size: 21px;
  position: relative;
  left: 2%;
  top: 2px;
}
.header .search-city .fa-angle-down{
  font-size: 25px;
  margin-left: 10px;
  position: relative;
  top: 5px;

}
.header .search-city input{
  border: none;
  width: 80%;
  margin-left: 8px;
}
.header .search-city input::placeholder{
  font-size: 16px;
  color: #3e5454;
  padding-left: 3px;
  padding-right: 10px;
  position: relative;
  top: -1px;
}
.header .search-city input:focus{
  outline: none;
}
/* search things  */
.search-things{
  background-color: white;
  border: 2px solid #142e2e;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  margin-left: 17px;
  width: 43%;
}
.header .search-things input{
  border: none;
width: 100%;
height: 100%;
margin-left: 10px;
}
.header .search-things input:focus{
  outline: none;
}
.header .search-things input::placeholder{
  color:#7d8f91;
  font-size: 16px;
  position: relative;
  top: -3px;
  left: 2px;
}
.header .search-icon{
  background-color:#142e2e;
  width: 3.5%;
  height: 57px;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}
.header .search-icon i{
  color: white;
font-size: 21px;
transform: translate(-50%, -50%);
margin: 0;
position: relative;
top: 47%;
left: 50%;
font-weight: 400;
}

/* icons  */
.icons{
width: 20%;
margin-top: 9px;
margin-left: 30px;
}
.icons .fa-comment-o{
  font-size: 23px;
  font-weight: 600;
  width: 17%;
  color: #142e2e;
}
.icons .fa-bell-o{
  font-size: 21px;
  font-weight: 600;
  width: 17%;
  color: #142e2e;
}
.icons .fa-angle-down{
  font-size: 27px;
  width: 17%;
  color: #142e2e;
}
.icons img{
  position: relative;
  top: -4px;
}
.icons button{
  background-color: white;
  border-radius: 20px;
  border-top: 5px solid #00ccc2;
  border-bottom: 5px solid #f0c246;
  border-left: 5px solid #17bd7a;
  border-right: 5px solid #826af7;
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 5px;
  padding-bottom: 5px;
  position: relative;
  top: -4px;
  font-weight: 700;
  box-shadow: 0 2px 10px grey;
}
.icons button:focus{
  outline: none;

  
}
.icons button i{
  padding-right: 7px;
  font-size: 17px;
}
.icons button p{
  font-size:13px;
}
.icons .dropdown{
  display: inline-block;
}
.icons .dropdown-menu{
  margin-right: 150px;
  margin-top: 23px;
}

@media (max-width:1327px){
  .search-things{
      width: 38%;
  }
  .icons{
      width:24%;
  }
  .search-city{
      width: 22%;
  }
}
@media (max-width:1239px){
  .search-things{
      width: 30%;
  }
  .search-city{
      width: 28%;
  }
  .icons{
      width: 25%;
  }
.header .img{
width: 7%;
}
.header .search-icon{
  width: 4%;
}
}

@media (max-width:1062px){
  .search-things{
      width: 15%;
  }
  .icons{
      width: 33%;
  }
  .search-city{
      width: 33%;
  }
.header .search-icon{
  width: 4.5%;
}
}

@media (max-width:886px){
  .search-things{
      width: 2%;
  }
  .search-city{
      width: 42%;
  }
  .search-city input{
      width: 60%;
  }
  .icons{
      width: 34%;
  }
.header .search-icon{
width: 5%;
}
}
@media (max-width:721px){
  .search-things{
      width: 0%;
  }
  .header .img img{
      position: relative;
      right: 26px;
  }
  .search-city{
      width: 42%;
  }
.header .search-icon{
  width: 7%;
}
}
@media (max-width:693px){
  .search-things{
width: 0%;
  }
  .icons{
      width: 31%;
  }
  .icons .fa{
      width: 9%;
  }
  .icons button .fa-plus{
      padding-right: 20px;
  }
  .search-city{
      width: 44%;
  }
.header .search-icon{
  position: relative;
  right: 2px;
}
}
@media (max-width:635px){
.search-city{
  display: none;
}
.search-things{
  display: none;
}
.search-icon{
  display: none;
}
.icons{
  width: 53%;
  margin-left: auto;
}
.icons .fa{
  width: 21%;
}
.header .img img{
  position: relative;
  left: 10%;
}
}

@media (max-width:540px){
  .icons{
      width: 60%;
  }
}
/* child header  */
.ChildHeader{
  padding: 4px;
  padding-top: 3px;
  padding-bottom: 9px;
  border-bottom: 3px  solid #f5f5f5;
  width: 100%;

}

.ChildHeader .categories{
  font-weight: 700;
  margin-left: 35px;
  max-width: 20%;
}
.ChildHeader  i{
  font-size: 34px;
  position: relative;
  top: 5px;
  left: 5px;
}
.ChildHeader .divCategory , .divCategory1{
  margin-top: 11px;
  font-size: 14.2px;
  max-width: 80%;
  margin-left: 30px;
}
.ChildHeader .divCategory1{
  display: none;
}
.ChildHeader .divCategory span , .divCategory1 span{
  padding: 7px;
}

@media(max-width:802px){
.ChildHeader .divCategory1{
  display: block;
}
.ChildHeader .divCategory{
display: none;
}
}
@media(max-width:730px){
.ChildHeader .categories{
  max-width: 25%;
}
.ChildHeader .divCategory1{
max-width: 74%;
}
}
@media(max-width:562px){
.ChildHeader .categories{
  max-width: 30%;
}
.ChildHeader .divCategory1{
  max-width: 69%;
}
}


.modal .modal-body .auth{
  display: block;
  text-align: center;
  margin: auto;
  width: 70%;
  padding-top: 6px;
  padding-bottom: 6px;
  margin-top: 10px;
  border: 2px solid #142e2e;
  color: #142e2e;
  font-weight: 600;
  border-radius: 8px;
  background-color: white;
}
.carousel-item{
  text-align: center;
  margin: auto;
}
.carousel-item img{
  width: 100px;
  margin-bottom: 10px;
  margin-top: 10px;
}
.modal-body .close , .sr-only{
font-size: 30px;
}
